<div class="container-fluid ">
    <div class="header bg-light p-4 pl-0 d-flex justify-content-between align-items-center">
        <h1>{{ 'home.title' | translate }}</h1>
        <div class="d-flex justify-content-between align-items-center gap-2">
            <div>
                <a routerLink="/create">
                    <button type="submit" data-toggle="modal" class="addBtn btn btn-secondary">
                        <i class="far fa-plus"></i>
                        {{ 'button.title' | translate}}
                    </button>
                </a>
            </div>
            <select class="form-select userName" (click)="selectLang($any($event.target).value)" aria-label="Default select example">
                <option *ngFor="let lang of languages">{{ lang }}</option>
            </select>
            <div class="dropdown">
                <button class="btn btn-light border dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngFor="let u of signUser">
                    {{ u.fullName }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" routerLink="/login">Change profile</a>
                    <a class="dropdown-item" routerLink="/profile">Edit your profile</a>
                    <a class="dropdown-item" routerLink="/announcements">Your announcements</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8 d-flex justify-content-between align-items-center my-4 mx-auto bg-light p-4 gap-4" *ngFor="let hotel of datas">
        <div  class="card-left col-2 border" >
            <span *ngIf="hotel.categories === 'top'" [ngClass]="{marked: hotel.categories === 'top'}">Top</span>
        </div>
        <div class="card-right col-10 ">
            <h4>{{hotel.hotelName}}</h4>
            <p>{{hotel.description}}</p>
            <div class="d-flex justify-content-between align-items-center">
                <p><i class="fas fa-map-marker-alt"></i>&nbsp; <i>{{hotel.region}} \ {{hotel.district}}</i></p>
                <p class="rating d-flex justify-content-between align-items-center gap-1" >
                    <i *ngFor="let i of stars" [ngClass]="{active: i <= hotel.star}" class="fa fa-star"></i>
                </p>
                <p>Rooms: <i>{{hotel.numberOfRooms}}</i></p>
            </div>
        </div>
    </div>
</div>